body {
    margin: 0
}

.App {
    text-align: center;
}

.nav {
    padding: 5px;

    &__h1 {
        font-size: 36px;
    }

    &__ul {
        padding: 0;
    }

    &__li {
        display: inline-block;
        margin: 0 10px;

    }
}

.btn {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
    background-color: darken(lightgray, 30%);
  }
        
        
  }  