body {
  margin: 0; }

.App {
  text-align: center; }

.nav {
  padding: 5px; }
  .nav__h1 {
    font-size: 36px; }
  .nav__ul {
    padding: 0; }
  .nav__li {
    display: inline-block;
    margin: 0 10px; }
  .nav__btn--hover {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer; }
    .nav__btn--hover:hover {
      background-color: #878787; }

.btn {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer; }
  .btn:hover {
    background-color: #878787; }
